/*VARIABLES DE COLOR*/
$primary-footer-color:#1a1919;
$color-texto-titulo:#520432;


$botones:(cancelar:#000000, enviar:#fc92e3);


/*CONTACTO*/

.contacto {
    background:url(../assets/imagenes/contactofotonueva.jpg) no-repeat center fixed;
    background-size: cover;
    margin-top: 126px;

   
.contacto__titulo {
    
    font-size: 44px;
    text-align: center;
    background:rgba(173, 51, 147, 0.6);
    width: 100%;
}
    }

    

.formulario {
    box-sizing: border-box;
    margin: 0px 60px 60px 60px;
    padding: 20px;
    background-color: rgba(221, 221, 221, 0.6);
    text-align: start;

    .formulario__item {
        color: rgb(0, 0, 0);
        margin-top: 4px;
        margin-bottom: 8px;

        .formulario__item__btn_opciones {
            display: ruby-base-container;
            background-color: #fc92e3;
            padding: 10px 45px 20px 45px;
            border: 1px;
            font-size: 1em;
            color: white;
            font-family: "Montserrat", sans-serif;
        }

        .formulario__item__input {
            margin-bottom: 15px;
            font-family: "Montserrat", sans-serif;
            width: 100%;
            padding: 10px;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            border: none;
            color: #ea9ab2;
            font-size: 1em;
           

           
        }
    }



    .formulario__item__btn {
        display: ruby-base-container;
        background-color: #fc92e3;
        padding: 10px 45px 10px 45px;
        border: 0;
        color: #FFFFFF;
        font-size: 1em;
        font-family: "Montserrat", sans-serif;
        cursor: pointer;
        margin-top: 10px;


        @each $btn-nombre,
        $btn-color in $botones {
            &--#{$btn-nombre} {
                @extend .formulario__item__btn;
                background-color: $btn-color;

            }
        }

    }

}