/*VARIABLES DE COLOR*/
$primary-footer-color:#1a1919;
$color-texto-titulo:#ffffff;

/*INDEX*/



.contenedor__frase__img {
    margin-top: 60px
}


.frase__img {
    opacity: 0.6;
    max-width: 100%;
}



.productosdestacados__texto {
    margin: 10px 0 10px;
    text-align: center;
    padding: 16px;
    color: $color-texto-titulo;

}



body {
    background: url(../assets/imagenes/inicioimg.jpg) no-repeat center fixed;
    background-size: cover;
}




.card__inicio__cards{
    border-radius: 20px 20px 20px 20px;
    position: relative;

    .texto__destacado{
        position: absolute;
        bottom: 10px;
        left: 10px;
        right: 10px;
    }

    .texto__destacado h1{
     font-size:60px;
     color: #000000;
     background: rgba(187, 175, 178, 0.274);
     border-radius: 10px;
     
    }

    .animacion__texto{
        color: #000000;
        font-size: 25px;
        transition: 0.5s;
    }
}




.masproductos__contenedor {
    text-align: center;
    margin: 32px 0;

}

.boton__personalizado {
    text-decoration: none;
    padding: 5px 80px;
    font-weight: 80;
    font-size: 24px;
    color: #ffffff;
    background-color: $primary-footer-color;
    border-radius: 6px;
    border: 2px solid #ffffff;
    width: 100%;

    &:hover {
        text-decoration: none;
        color: #000000;
        background-color: #fc92e3;
    }
}