/*VARIABLES DE COLOR*/
$primary-footer-color:#1a1919;
$color-texto-titulo:#ff7673;

/*INDEX*/

body {
    background: url(../assets/imagenes/inicioimg.jpg) no-repeat center fixed;
    background-size: cover;
}


.contenedor__frase__img {
    margin-top: 60px
}


.frase__img {
    opacity: 0.6;
    max-width: 100%;
}



.productosdestacados__texto {
    margin: 40px 0 10px;
    text-align: center;
    padding: 20px;
    color: #ffffff;
    font-weight: bold;
    background: $primary-footer-color;


}

.card__inicio__cards {
    margin-bottom: 20px;
    position: relative;

    .imagen__efecto {
        filter: gray;
        -webkit-filter: grayscale(100%);
        width: 100%;
        height: 100%;

        &:hover {
            filter: none;
            -webkit-filter: grayscale(0%);
        }
    }



}




.masproductos__contenedor {
    text-align: center;
    margin: 32px 0 60px;

}

.boton__masproductos {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 80px 0 120px;
}

.button {
    min-width: 300px;
    min-height: 60px;
    font-size: 30px;
    
    color: #ffffff;
    background: #ff7673;
    background: linear-gradient(90deg, rgb(230, 129, 129) 0%, rgb(233, 94, 94) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(223, 44, 67, 0.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
}

button::before {
    content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid rgb(255, 118, 115);
    box-shadow: 0 0 60px rgba(216, 14, 14, 0.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}

.button:hover,
.button:focus {
    color: #000000;
    transform: translateY(-6px);
}

button:hover::before,
button:focus::before {
    opacity: 1;
}

button::after {
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 6px solid #ff7673;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
}

button:hover::after,
button:focus::after {
    animation: none;
    display: none;
}

@keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
    }

    100% {
        width: 300px;
        height: 300px;
        opacity: 0;
    }
}