/*VARIABLES DE COLOR*/

$primary-footer-color:#1a1919;
$color-texto-titulo:#ff7673;

/*SECCION PRODUCTOS*/



body {

  background: url(../assets/imagenes/fondoproductos.jpg) no-repeat center fixed;
  background-size: cover;

}

.titulo__principal {
  margin-top: 120px;
  text-align: center;
  color: #FFFFFF;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 3px;
 

}

.productos__subtitulo {
  text-align: center;
  font-size: 24px;
  margin-bottom: 15px;
  color: $color-texto-titulo;


}



.card {
  margin: 60px;
  padding: 10px;
  color: #000000 !important;
  background-color: #e36866b0 !important;

  .card__texto {
    font-size: 24px;
    font-weight: bold;
  }

  .descripcion__card {
    font-weight: bold;
    font-size: 16px;
  }


}

.img__efecto {
  filter: gray;
  -webkit-filter: grayscale(100%);
  width: 100%;
  height: 100%;

  &:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
  }
}



:root {
  --color-inactivo: #242121;
  --color-hover: #eeff00;
}

.valoracion {
  display: flex;
  flex-direction: initial;
}

.valoracion button {
  background-color: initial;
  border: 0;
  color: var(--color-inactivo);
  transition: 1s all;
}

.valoracion button:hover {
  cursor: pointer;
  color: var(--color-hover);
  transform: rotate(360deg);
}

button:nth-child(1):hover~button {
  color: var(--color-hover);
  transform: rotate(360deg);
}

button:nth-child(2):hover~button {
  color: var(--color-hover);
  transform: rotate(360deg);
}

button:nth-child(3):hover~button {
  color: var(--color-hover);
  transform: rotate(360deg);
}

button:nth-child(4):hover~button {
  color: var(--color-hover);
  transform: rotate(360deg);
}

button:nth-child(5):hover~button {
  color: var(--color-hover);
  transform: rotate(360deg);
}

.scroll {
  display: block;
  height: 60px;
  overflow-y: scroll;
  max-height: 70px;
}

.descripcion__card {
  margin: 10px 0 24px;

}

.quiero__boton {
  letter-spacing: 1px;
  border-radius: 15px 15px 15px 15px;
  border: none;
  padding: 6px;
  text-decoration: none;
  margin: 12px 0 0 0;
  cursor: pointer;
  font-weight: bold;


  border-color: #32C9B0;
  color: rgb(0, 0, 0);
  box-shadow: 0 0 40px 40px #32C9B0 inset, 0 0 0 0 #32C9B0;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;

  &:hover {
    box-shadow: 0 0 10px 0 #32C9B0 inset, 0 0 10px 4px #32C9B0;

  }
}