/*VARIABLES DE COLOR*/
$primary-footer-color:#1a1919;
$color-texto-titulo:#ff7673;




/*QUIENES SOMOS*/

body{
    background: url(../assets/imagenes/fotoprueba.jpg)no-repeat center fixed;
    background-size: cover;

}

.quienessomos{
    margin-bottom: 50px;
    
    .quienessomos__header__titulo {
        margin-top: 120px;
        text-align: center;
        color: #FFFFFF;
        font-size: 36px;
        font-weight: 600;
        letter-spacing: 3px;
       
    }

    .quienessomos__texto {
        margin: 20px 0 20px;
        padding: 30px;
        text-align: justify;
        letter-spacing: 1px;
        font-size: 16px;
        line-height: 1.5;
        font-style: italic;
        background:#1a1919;
        border-radius: 10px 10px 10px 10px;
        color: #FFFFFF;
    }
}