/*VARIABLES DE COLOR*/

$primary-footer-color:#1a1919;
$color-texto-titulo:#ff7673;
$logo-width:300px;


/*Seccion Index*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Parisienne', cursive;
    font-family: 'Poppins', sans-serif;
}

/*NAVBAR*/

.navbar {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    background: $color-texto-titulo;




    .logo {
        width: $logo-width/3;

    }

    .nav-link {
        color: #000000;
        font-weight: bold;


        &:hover {
            color: #e7e7e7;
        }
    }


    .dropdown-menu {
        background-color: #0c0109e5 !important;

        .dropdown-item {
            color: #ffffff;

            &:hover {
                background-color: #353434 !important;
            }
        }

        &:hover {
            background-color: $color-texto-titulo !important;
        }
    }
}

.contenedor-whatsapp {
    position: fixed;
    bottom: 50px;
    right: 0;

}


.btn-whatsapp {

    margin: 10px;
    width: 50px;
    height: 50px;
    line-height: 55px;
    border-radius: 50px;




    &:hover {
        opacity: 0.7;
        transform: scaleY(1, 1);
        transition: 0, 5 s;

    }

}

.container {



    .servicios__texto {
        font-size: 20px;
        font-weight: bold;



    }

    .servicios__contenedor {
        margin: 0 auto;
        background: $color-texto-titulo;
        width: 12rem;
        color: #ffffff;
        border-radius: 10px 10px 10px 10px;
        text-align: center;

    }

    .servicios__img {
        height: 16vh;
        width: 16vh;
    }

}

    /*FOOTER*/

    footer {

        .footer__redes {
            display: flex;
            padding: 5px;
            background: #1a1919;
            justify-content: center;
            padding: 16px;

            .footer__redes__img {
                height: 20px;
                margin: 0 16px;
            }
        }
    }

    .mapa__desitio {
        display: flex;
        justify-content: center;
        background-color: #1a1919;

        & .mapa__desitio__lista li {
            display: inline;
            padding-left: 3px;
            padding-right: 3px;


            & a {
                font-size: 20px;
                list-style: none;
                text-decoration: none;
                margin-left: 25px;
                color: #ffffff;

                &:hover {
                    color: #ff7673;
                }
            }
        }

    }