/*VARIABLES DE COLOR*/
/*CONTACTO*/
body {
  background: linear-gradient(-45deg, #5f5e5e, #1a1919, #b83e3ec7, #0ffaac);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite; }

@keyframes gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

.contacto__titulo h1 {
  margin-top: 120px;
  margin-bottom: 60px;
  text-align: center;
  color: #FFFFFF;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 3px; }

.formulario {
  box-sizing: border-box;
  margin: 0px 60px 120px 60px;
  padding: 20px;
  background-color: rgba(8, 1, 1, 0.685);
  text-align: start; }
  .formulario .formulario__item {
    color: #FFFFFF;
    margin-top: 4px;
    margin-bottom: 8px;
    letter-spacing: 1px; }
    .formulario .formulario__item .formulario__item__btn_opciones {
      display: ruby-base-container;
      background-color: #ff7673;
      padding: 10px 45px 20px 45px;
      border: 1px;
      font-size: 1em;
      color: black; }
    .formulario .formulario__item .formulario__item__input {
      margin-bottom: 15px;
      width: 100%;
      padding: 10px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      border: none;
      color: #ea9ab2;
      font-size: 1em; }
  .formulario .formulario__item__btn {
    display: ruby-base-container;
    background-color: #ac0084;
    padding: 10px 45px 10px 45px;
    border: 0;
    color: #FFFFFF;
    font-size: 1em;
    cursor: pointer;
    margin-top: 10px; }

.submit {
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
  margin: 0 10px 20px 0;
  border: 1px solid #cccccc;
  background: #ff7673; }
  .submit:hover {
    background: #17c73d; }

.reset {
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
  margin: 0 10px 20px 0;
  border: 1px solid #cccccc;
  background: #ff7673; }
  .reset:hover {
    background: #c71717; }
