/*VARIABLES DE COLOR*/
/*SECCION PREGUNTAS FRECUENTES*/
body {
  background: url(../assets/imagenes/fondopreguntas.png) center no-repeat fixed;
  background-size: cover; }

.preguntas_frecuentes_main {
  margin-top: 120px;
  margin-bottom: 60px; }

.seccion__preguntas {
  background: #1a1919a1;
  border-radius: 10px 10px 10px 10px; }
  .seccion__preguntas .preguntas__titulo {
    margin-top: 10px;
    text-align: center;
    color: #ffffff;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 3px; }
  .seccion__preguntas .preguntas__item {
    margin: 60px 0 50px;
    text-align: center; }
    .seccion__preguntas .preguntas__item .preguntas__item__pregunta {
      color: #07f1ca;
      font-weight: bold;
      font-size: 24px;
      margin: 10px 0 10px; }
  .seccion__preguntas .preguntas__item_respuesta {
    text-align: justify;
    padding: 10px;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px; }
