/*VARIABLES DE COLOR*/
/*SECCION PRODUCTOS*/
body {
  background: linear-gradient(-45deg, #ff7573ab, #000000, #b83e3ec7, #0ffaac);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite; }

@keyframes gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

.titulo__principal {
  margin-top: 120px;
  text-align: center;
  color: #FFFFFF;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 3px; }

.productos__subtitulo {
  text-align: center;
  font-size: 24px;
  margin-bottom: 15px;
  color: #FFFFFF; }

.card {
  margin: 60px;
  padding: 10px;
  color: #000000 !important;
  background-color: #e36866 !important; }
  .card .card__texto {
    font-size: 24px;
    font-weight: bold; }
  .card .descripcion__card {
    font-weight: bold;
    font-size: 16px; }

.img__efecto {
  filter: gray;
  -webkit-filter: grayscale(100%);
  width: 100%;
  height: 100%; }
  .img__efecto:hover {
    filter: none;
    -webkit-filter: grayscale(0%); }

:root {
  --color-inactivo: #242121;
  --color-hover: #eeff00; }

.valoracion {
  display: flex;
  flex-direction: initial; }

.valoracion button {
  background-color: initial;
  border: 0;
  color: var(--color-inactivo);
  transition: 1s all; }

.valoracion button:hover {
  cursor: pointer;
  color: var(--color-hover);
  transform: rotate(360deg); }

button:nth-child(1):hover ~ button {
  color: var(--color-hover);
  transform: rotate(360deg); }

button:nth-child(2):hover ~ button {
  color: var(--color-hover);
  transform: rotate(360deg); }

button:nth-child(3):hover ~ button {
  color: var(--color-hover);
  transform: rotate(360deg); }

button:nth-child(4):hover ~ button {
  color: var(--color-hover);
  transform: rotate(360deg); }

button:nth-child(5):hover ~ button {
  color: var(--color-hover);
  transform: rotate(360deg); }

.scroll {
  display: block;
  height: 60px;
  overflow-y: scroll;
  max-height: 70px; }

.descripcion__card {
  margin: 10px 0 24px; }

.quiero__boton {
  letter-spacing: 1px;
  border-radius: 15px 15px 15px 15px;
  border: none;
  padding: 6px;
  text-decoration: none;
  margin: 12px 0 0 0;
  cursor: pointer;
  font-weight: bold;
  border-color: #32C9B0;
  color: black;
  box-shadow: 0 0 40px 40px #32C9B0 inset, 0 0 0 0 #32C9B0;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out; }
  .quiero__boton:hover {
    box-shadow: 0 0 10px 0 #32C9B0 inset, 0 0 10px 4px #32C9B0; }

.masinfo__contenedor .servicios__texto {
  font-size: 20px;
  font-weight: bold; }

.masinfo__contenedor .servicios__contenedor {
  width: 16rem;
  color: #ffffff;
  text-align: center; }

.masinfo__contenedor .servicios__img {
  height: 16vh;
  width: 16vh; }
