* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif; }


body{
    background-color: black;
}
.titulo{
    display: flex;
    text-align: center;
    background-color: rgb(1, 41, 221);
    justify-content: center;
    flex-direction: column;
    color: white;
    margin: 60px;
}

h1, h2{
text-align: center;
padding: 10px;

}

img{
max-width: 150vh;
margin: 50px;
}

.texto{
    padding: 30px;
    font-size: 18px;
    color: rgb(255, 255, 255);
   
}

li{
    margin: 20px;
    color: aqua;
}