/*VARIABLES DE COLOR*/
/*QUIENES SOMOS*/
body {
  background: url(../assets/imagenes/fondoquienessomos.png) no-repeat center fixed;
  background-size: cover; }

.quienessomos {
  margin: 120px 30px 120px 30px;
  background: #1a1919a1;
  border-radius: 10px 10px 10px 10px; }
  .quienessomos .quienessomos__header__titulo {
    margin-top: 10px;
    text-align: center;
    color: #FFFFFF;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 3px; }
  .quienessomos .quienessomos__texto {
    margin: 20px 0 20px;
    padding: 10px;
    text-align: justify;
    letter-spacing: 2px;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    color: #FFFFFF; }

.masinfo__contenedor {
  background: linear-gradient(90deg, #585656, #ce4c4c); }
  .masinfo__contenedor .servicios__texto {
    font-size: 20px;
    font-weight: bold; }
  .masinfo__contenedor .servicios__contenedor {
    width: 16rem;
    color: #ffffff;
    text-align: center; }
  .masinfo__contenedor .servicios__img {
    height: 16vh;
    width: 16vh; }
