/*VARIABLES DE COLOR*/
/*CONDICIONAL*/
/*QUIENES SOMOS*/
.quienessomos {
  margin-top: 120px;
  background: url(../assets/imagenes/fotoprueba.jpg) no-repeat center fixed;
  background-size: cover; }
  .quienessomos .quienessomos__header {
    display: flex;
    flex-direction: row; }
    .quienessomos .quienessomos__header .quienessomos__header__titulo {
      margin-top: 10px;
      padding: 30px;
      color: #520432;
      font-size: 44px;
      text-align: center;
      animation-duration: 15s; }
  .quienessomos .quienessomos__texto {
    margin: 20px 0 20px;
    padding: 30px;
    text-align: justify;
    font-size: 16px;
    line-height: 1.5;
    font-style: italic;
    background: rgba(0, 0, 0, 0.8);
    color: #ffffff; }
    .quienessomos .quienessomos__texto .quienessomos__img {
      width: 100%;
      margin: 50px 0 100px; }
