/*VARIABLES DE COLOR*/
/*Seccion Index*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Parisienne', cursive;
  font-family: 'Poppins', sans-serif; }

/*NAVBAR*/
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  background: #ff7673; }
  .navbar .logo {
    width: 100px; }
  .navbar .nav-link {
    color: #000000;
    font-weight: bold; }
    .navbar .nav-link:hover {
      color: #e7e7e7 !important; }
  .navbar .dropdown-menu {
    background-color: #0c0109e5 !important; }
    .navbar .dropdown-menu .dropdown-item {
      color: #ffffff; }
      .navbar .dropdown-menu .dropdown-item:hover {
        background-color: #353434 !important; }
    .navbar .dropdown-menu:hover {
      background-color: #ff7673 !important; }

.contenedor-whatsapp {
  position: fixed;
  bottom: 50px;
  right: 0; }

.btn-whatsapp {
  margin: 10px;
  width: 50px;
  height: 50px;
  line-height: 55px;
  border-radius: 50px; }
  .btn-whatsapp:hover {
    opacity: 0.7;
    transform: scaleY(1, 1);
    transition: 0, 5 s; }

.masinfo__contenedor .servicios__texto {
  font-size: 20px;
  font-weight: bold; }

.masinfo__contenedor .servicios__contenedor {
  width: 16rem;
  color: #ffffff;
  text-align: center; }

.masinfo__contenedor .servicios__img {
  height: 16vh;
  width: 16vh; }

/*FOOTER*/
footer {
  background-color: #1a1919; }
  footer .mapa__desitio {
    display: flex;
    justify-content: center; }
    footer .mapa__desitio .mapa__desitio__lista li {
      display: inline;
      padding-left: 3px;
      padding-right: 3px; }
      footer .mapa__desitio .mapa__desitio__lista li a {
        font-size: 16px;
        list-style: none;
        text-decoration: none;
        color: #ffffff; }
        footer .mapa__desitio .mapa__desitio__lista li a:hover {
          color: #ff7673; }
  footer .footer__redes {
    display: flex;
    justify-content: center; }
    footer .footer__redes .footer__redes__img {
      height: 30px;
      margin: 0 16px 16px; }
  footer .copy__footer {
    color: #ffffff;
    margin-bottom: 0; }
