/*VARIABLES DE COLOR*/
/*Seccion Index*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Parisienne', cursive;
  font-family: 'Poppins', sans-serif; }

/*NAVBAR*/
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  background: #ff7673; }
  .navbar .logo {
    width: 100px; }
  .navbar .nav-link {
    color: #000000;
    font-weight: bold; }
    .navbar .nav-link:hover {
      color: #e7e7e7; }
  .navbar .dropdown-menu {
    background-color: #0c0109e5 !important; }
    .navbar .dropdown-menu .dropdown-item {
      color: #ffffff; }
      .navbar .dropdown-menu .dropdown-item:hover {
        background-color: #353434 !important; }
    .navbar .dropdown-menu:hover {
      background-color: #ff7673 !important; }

.contenedor-whatsapp {
  position: fixed;
  bottom: 50px;
  right: 0; }

.btn-whatsapp {
  margin: 10px;
  width: 50px;
  height: 50px;
  line-height: 55px;
  border-radius: 50px; }
  .btn-whatsapp:hover {
    opacity: 0.7;
    transform: scaleY(1, 1);
    transition: 0, 5 s; }

.container {
  margin-bottom: 20px; }
  .container .servicios__texto {
    font-size: 20px;
    font-weight: bold; }
  .container .servicios__contenedor_1 {
    margin: 0 auto;
    background: #1f101a;
    width: 12rem;
    color: #ffffff;
    border-radius: 20px;
    text-align: center;
    border: solid 1px; }
  .container .servicios__contenedor_2 {
    margin: 0 auto;
    background: #c55659;
    width: 12rem;
    color: #ffffff;
    border-radius: 20px;
    text-align: center;
    border: solid 1px; }
  .container .servicios__contenedor_3 {
    margin: 0 auto;
    background: #da7677;
    width: 12rem;
    color: #ffffff;
    border-radius: 20px;
    text-align: center;
    border: solid 1px; }
  .container .servicios__contenedor_4 {
    margin: 0 auto;
    background: #ed9696;
    width: 12rem;
    color: #ffffff;
    border-radius: 20px;
    text-align: center;
    border: solid 1px; }
  .container .servicios__img.servicios__img1 {
    height: 16vh;
    width: 16vh; }
  .container .servicios__img.servicios__img2 {
    height: 16vh;
    width: 16vh; }
  .container .servicios__img.servicios__img3 {
    height: 16vh;
    width: 16vh; }
  .container .servicios__img.servicios__img4 {
    height: 16vh;
    width: 16vh; }

/*FOOTER*/
footer .footer__redes {
  display: flex;
  padding: 5px;
  background: #1a1919;
  justify-content: center;
  padding: 16px; }
  footer .footer__redes .footer__redes__img {
    height: 20px;
    margin: 0 16px; }

.mapa__desitio {
  display: flex;
  justify-content: center;
  background-color: #1a1919; }
  .mapa__desitio .mapa__desitio__lista li {
    display: inline;
    padding-left: 3px;
    padding-right: 3px; }
    .mapa__desitio .mapa__desitio__lista li a {
      font-size: 20px;
      list-style: none;
      text-decoration: none;
      margin-left: 25px;
      color: #ffffff; }
      .mapa__desitio .mapa__desitio__lista li a:hover {
        color: #ff7673; }
